@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&family=Saira+Condensed:wght@300;400;700&family=Saira:wght@400;700&display=swap');

/* GLOBAL */

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

body {
  /* background: rgb(29, 28, 28); */
  background: rgb(14, 13, 13);
  color: rgb(240, 238, 238);
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Saira Condensed', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

header {
  height: 25px;
}

.tv-logo {
  height: 30px;
  margin-right: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  margin-top: auto;
  flex-shrink: 0;
  font-size: 13px;
}

footer p {
  margin-bottom: 0;
}

.tmdb {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.site-title {
  font-size: 28px;
  color: white;
  text-decoration: none;
}

.site-title:hover {
  text-decoration: none;
  color: white;
}

.tmdb-logo {
  width: 90px;
}

.box-shadow {
  box-shadow: 0 0 4px rgb(143, 141, 141);
}

/* LANDING */

.subtitle {
  font-size: 24px;
}

hr {
  border: 0.1px solid white;
  width: 90%;
  margin: 30px auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(14, 13, 13);
  width: 185px;
  height: 400px;
  margin: 1rem 20px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgb(90, 89, 89);
}

.movie-title {
  font-size: 20px;
  text-align: center;
}

.poster {
  height: 278px;
  width: 185px;
  object-fit: cover;
  border-radius: 5px;
}

.spinner {
  border: 10px solid #fdc108;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.full-page {
  min-height: 88vh;
}

.full-search-page {
  min-height: 85vh;
}

.details-box {
  height: 90vh;
  width: 75%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 20px auto 50px auto;
  z-index: 1;
  position: relative;
  background-image: url(`https://image.tmdb.org/t/p/w1280/${props.show.backdrop_path}`);
}

.details-wrapper {
  opacity: 80%;
  background-color: #1d1c1c;
  width: 90%;
  margin: 0 auto;
  z-index: 5;
  border-radius: 3px;
  border: 1px solid slategrey;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  max-height: 80vh;
  position: absolute;
  top: 10%;
  left: 5%;
  overflow: auto;
  justify-content: space-between;
}

.details-hr {
  width: 25%;
  margin: 2px auto 20px auto;
}

.flex-container {
  display: flex;
}

.details-left {
  flex: 2;
  margin-left: 20px;
}

.details-right {
  flex: 1;
}

.details-text,
.details-overview {
  font-size: 16px;
}

.details-font {
  font-family: 'Saira', sans-serif;
}

.details-title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  margin: 5px auto 0 auto;
}

.details-list {
  list-style: none;
}

.details-heading {
  color: #fdc108;
  padding-right: 7px;
}

.details-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10%;
}

.rating-circle-green {
  width: 50px;
  height: 53px;
  border-radius: 50%;
  font-size: 16px;
  color: green;
  border: 3px solid green;
  background: white;
  line-height: 50px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.rating-circle-yellow {
  width: 50px;
  height: 53px;
  border-radius: 50%;
  font-size: 16px;
  color: #db942c;
  border: 3px solid #db942c;
  background: white;
  line-height: 50px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.rating-circle-red {
  width: 50px;
  height: 53px;
  border-radius: 50%;
  font-size: 16px;
  color: red;
  border: 3px solid red;
  background: white;
  line-height: 50px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.rating-circle-nr {
  width: 50px;
  height: 53px;
  border-radius: 50%;
  font-size: 16px;
  color: black;
  border: 3px solid black;
  background: white;
  line-height: 50px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.no-image {
  background-color: white;
  color: black;
  width: 200px;
  height: 300px;
}

.genre-heading {
  font-weight: 500;
  font-size: 22px;
  margin-left: 50px;
}

.jumbo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.highlight-text {
  color: #fdc108;
}

.text-results {
  font-size: 18px;
}

.button-text {
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .rating-circle {
    position: static;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .details-wrapper {
    top: 5%;
  }

  .details-box {
    width: 90%;
    margin: 40px auto 10px auto;
    background-position: top center;
    height: 80vh;
  }
}

@media only screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .details-right {
    display: block;
    margin-left: 0px;
  }

  .text-results {
    padding: 20px;
  }

  .rating-circle {
    position: static;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .details-wrapper {
    min-height: 80vh;
  }

  .details-left {
    margin-right: 20px;
  }

  .details-right {
    margin-left: 20px;
    margin-right: 20px;
  }

  .details-box {
    min-height: 90vh;
    margin: 10px auto;
  }
}
