@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&family=Saira+Condensed:wght@300;400;700&family=Saira:wght@400;700&display=swap');

@media only screen and (max-width: 768px) {
  /* DETAILS */

  .rating-circle {
    position: static;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .details-wrapper {
    top: 5%;
  }

  .details-box {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .text-results {
    padding: 20px;
  }

  /* DETAILS */

  .flex-container {
    flex-direction: column;
  }

  .details-right {
    display: block;
    margin-left: 0px;
  }

  .rating-circle {
    position: static;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .details-wrapper {
    min-height: 80vh;
  }

  .details-left {
    margin-right: 20px;
  }

  .details-right {
    margin-left: 20px;
    margin-right: 20px;
  }

  .details-box {
    min-height: 90vh;
    margin: 10px auto;
  }
}
