@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

body {
  /* background: rgb(29, 28, 28); */
  background: rgb(14, 13, 13);
  color: rgb(240, 238, 238);
  font-family: 'Lato', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

header {
  height: 25px;
}

.tv-logo {
  height: 4vh;
  margin-right: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  margin-top: auto;
  flex-shrink: 0;
}

footer p {
  margin-bottom: 0;
}

.site-title {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.site-title:hover {
  text-decoration: none;
  color: white;
}

.subtitle {
  font-size: 20px;
}

.tmdb-logo {
  width: 100px;
}

.box-shadow {
  box-shadow: 0 0 4px rgb(143, 141, 141);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(14, 13, 13);
  width: 185px;
  height: 400px;
  margin: 1rem 10px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgb(90, 89, 89);
}

.movie-title {
  font-size: 16px;
  text-align: center;
}

.poster {
  height: 278px;
  width: 185px;
  object-fit: cover;
  border-radius: 5px;
}

.spinner {
  border: 10px solid #fdc108;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.full-page {
  min-height: 88vh;
}

.full-search-page {
  min-height: 85vh;
}

.detail-box {
  height: 90vh;
  width: 60%;
  background-repeat: no-repeat;
  margin: 0 auto 50px auto;
  position: relative;
  z-index: 1;
}

.detail-wrapper {
  opacity: 80%;
  background-color: #1d1c1c;
  width: 80%;
  margin: 0 auto;
  z-index: 5;
  border-radius: 3px;
  border: 1px solid slategrey;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  max-height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-image {
  background-color: white;
  color: black;
  width: 200px;
  height: 300px;
}

.genre-heading {
  font-weight: 500;
  font-size: 18px;
  margin-left: 1rem;
}

.jumbo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.highlight-text {
  color: #fdc108;
}
